@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-sans;

  a {
    color: rgb(74, 144, 226);
    cursor: pointer;
    border-bottom: 1px dotted rgb(91, 159, 239);
    text-decoration: none;
  }
}